@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    width: 45%;
    height: auto;
  }
  
  h3 {
    font-family: 'Space Grotesk', sans-serif;
    margin-bottom: 5%;
  }
  
  #star {
    color: #FF6600;
    fill: #FF6600;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 300px;
    margin-top: 50px;
  }
  
  .text,
  .image {
    display: inline-block;
  }
  
  img {
    border-radius: 5px;
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  
  p {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .row {
    width: 100%;
    display: flex;
  }
  
  .grid-item {
    flex: 0 0 350px; /* Adjust the width of each card */
    border-radius: 34px;
    font-family: 'Space Grotesk', sans-serif;
    color: #778899;
    font-weight: bold;
    box-shadow: 1px 2px 3px 4px rgba(114, 113, 113, 0.11);
    overflow: visible;
    padding: 48px 42px 38px;
    border: 1px solid #eff0f6;
    height: auto;
    margin: 20px 20px 20px 20px;
  }
  h4 {
   color: black;
  }
  
  button {
    background-color: #fedb01;
    font-size: 15px;
    border: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: 800px;
    margin-top: 50px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 30%;
    border-radius: 50px;
  }
  
  .button:hover {
    background-color: #050727;
    transition: 0.7s;
    color: white;
    cursor: pointer;
  }